import cucumber.api.CucumberOptions;

@CucumberOptions(strict = $strict,
    features = {"classpath:$featureFile"},
    plugin = {$reports, "pretty"},
    monochrome = ${monochrome},
    tags = {$tags},
    glue = { $glue })
public class $feature extends ${testNGSuperClass} {
}